---
import { getCollection } from 'astro:content';
// Component Imports
import CallToAction from '../components/CallToAction.astro';
// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Skills from '../components/Skills.astro';
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
		<header class="hero">

			<Hero
				title="Hello, my name is Gavin Piliczky"
				tagline="I’m a Game Developer & 3D Generalist based in Adelaide, Australia."
				align="start"
			>
				<div class="roles">
					<Pill><Icon icon="castle" size="1.33em" /> Game Developer</Pill>
					<Pill><Icon icon="perspective" size="1.33em" /> 3D Generalist</Pill>
					<Pill><Icon icon="terminal-window" size="1.33em" /> Technical Artist</Pill>
				</div>
			</Hero>

			
		</header>

			<Skills />
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Selected Work</h3>
					<p>Explore my featured game development projects, 3D assets, and technical prototypes.</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>
				<br><br>
				<div class="cta">
					<CallToAction href="/work/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Tools & Technologies</h3>
					<p>
						I bridge the gap between art and code using industry-standard software and scripting languages.
					</p>
				</header>

				<div class="gallery">
					<Grid variant="small">
						{
							['Unreal Engine', 'GameMaker', 'Substance Painter', 'Blender', 'Photoshop', 'Python', 'C#'].map((brand) => (
								<li class="mention-card">
									<p>{brand}</p>
								</li>
							))
						}
					</Grid>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

