---
import Layout from '../layouts/Layout.astro';
---

<Layout title="3D">
  <h1>3D</h1>
  <p>This page will showcase various 3D game development and VFX projects I've worked on.</p>
  <div class="card-grid">
    <!-- Gallery -->
        <a href="/3D/guitar" class="nav-card">
           <img src="/icons/3d-model.png" alt="VFX Icon" class="card-icon" />
          <b>Gibson Guitar</b>
        </a>
        <a href="/3d" class="nav-card">
          <img src="/icons/3d-model.png" alt="VFX Icon" class="card-icon" />
          <b>Vintage Camera</b>
        </a>
        <a href="/3d" class="nav-card">
          <img src="/icons/3d-model.png" alt="VFX Icon" class="card-icon" />
          <b>Spiro Dragon</b>
        </a>
        <a href="/3d" class="nav-card">
          <img src="/icons/3d-model.png" alt="VFX Icon" class="card-icon" />
          <b>Transporter Robot</b>
        </a>
        <a href="/3d" class="nav-card">
          <img src="/icons/3d-model.png" alt="VFX Icon" class="card-icon" />
          <b>Underwater Drone</b>
        </a>

  </div>

  <section class="gallery-section">

</section>
</Layout>