<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Gavin Piliczky</title>
  </head>
  <body>
    <h1>My new portfolio site</h1>
    <p>This is working.</p>
  </body>
</html>