---
import Layout from '../layouts/Layout.astro';
---
<Layout title="VFX">
  <h1>VFX</h1>
  <p>This page will showcase various VFX shots I've worked on.</p>
  <div class="card-grid">
    <!-- Gallery -->
        <a href="/vfx" class="nav-card">
           <img src="/icons/movie.png" alt="SkyHawk Survivors" class="card-icon" />
          <b>Comp 1</b>
        </a>
        <a href="/vfx" class="nav-card">
           <img src="/icons/movie.png" alt="Dwarf Defense" class="card-icon" />
          <b>Comp 2</b>
        </a>
        <a href="/vfx" class="nav-card">
           <img src="/icons/movie.png" alt="Game Icon" class="card-icon" />
          <b>Comp 3</b>
        </a>
  </div>
  <section class="gallery-section">
</section>
</Layout>