---
import { getCollection } from 'astro:content';
import ContactCTA from '../components/ContactCTA.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const projects = (await getCollection('work')).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
    title="Game Dev & 3D Art | Gavin Piliczky"
    description="Explore game projects and 3D modeling work by Gavin Piliczky."
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title="Games & 3D Projects"
                tagline="Explore my latest game development projects and 3D assets."
                align="start"
            />
            <Grid variant="offset">
                {
                    projects.map((project) => (
                        <li>
                            <PortfolioPreview project={project} />
                        </li>
                    ) )
                }
            </Grid>
        </main>
        <ContactCTA />
    </div>
</BaseLayout>